<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 p-10 text-white">
        <h3 class="text-3xl mb-5">Upload Profile Picture</h3>
        <form autocomplete="off" method="post" action="/upload" enctype="multipart/form-data">
            <div class="flex items-center gap-4">
                <input type="file" class="text-white file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-white-500 file:text-black hover:file:bg-zinc-300" name="image">
                <input class="px-5 py-2 rounded-md bg-blue-500 hover:bg-blue-600 cursor-pointer" type="submit" value="Upload File">
            </div>
        </form>
    </div>
</body>
</html>